<!DOCTYPE html>
<html lang="en-NZ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple webpage with a header and main container.">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>My Oh-some Webpage</title>
</head>
<body>
    <div>
        <div class="header">
            <div class="logo">
                <img src="https://via.placeholder.com/150" alt="Main Logo" />
            </div>

            <nav class="menu">
                <list>
                    <ul>
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/work">Work</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </list>
            </nav>
        </div>
    </div>
    <div>
        <div class="maincontainer">
            <div class="container"></div>
            <div class="container"></div>
        </div>
    </div>
    
</body>
</html>